In [1]:
import findspark

findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [3]:
data = [(1,'Maheer',2000),(2,'wafa',3000)]

schema = ['id','name','salary']

df = spark.createDataFrame(data,schema)

df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Maheer|  2000|
|  2|  wafa|  3000|
+---+------+------+

In [4]:
df1 = df.select('id')

df1.show()

+---+
| id|
+---+
|  1|
|  2|
+---+

In [5]:
help(df.collect)

Help on method collect in module pyspark.sql.dataframe:

collect() method of pyspark.sql.dataframe.DataFrame instance
    Returns all the records as a list of :class:`Row`.

    .. versionadded:: 1.3.0

    Examples
    --------
    >>> df.collect()
    [Row(age=2, name='Alice'), Row(age=5, name='Bob')]

In [9]:
listRows= df.collect()

print(listRows)

[Row(id=1, name='Maheer', salary=2000), Row(id=2, name='wafa', salary=3000)]

In [10]:
print(listRows[0])

Row(id=1, name='Maheer', salary=2000)

In [13]:
print(listRows[0][1])
print(listRows[0][0])

Maheer
1