In [1]:
import findspark

findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [2]:
data = [(1,'Srikanth',20000),(2,'Akshainie',30000),(3,'Manvith',40000)]

schema = ['ID',"NAME",'SALARY']


df = spark.createDataFrame(data, schema)

df.show()

+---+---------+------+
| ID|     NAME|SALARY|
+---+---------+------+
|  1| Srikanth| 20000|
|  2|Akshainie| 30000|
|  3|  Manvith| 40000|
+---+---------+------+

In [3]:
df.select('ID','NAME').show()

+---+---------+
| ID|     NAME|
+---+---------+
|  1| Srikanth|
|  2|Akshainie|
|  3|  Manvith|
+---+---------+

In [4]:
help(df.createOrReplaceTempView)

Help on method createOrReplaceTempView in module pyspark.sql.dataframe:

createOrReplaceTempView(name) method of pyspark.sql.dataframe.DataFrame instance
    Creates or replaces a local temporary view with this :class:`DataFrame`.

    The lifetime of this temporary table is tied to the :class:`SparkSession`
    that was used to create this :class:`DataFrame`.

    .. versionadded:: 2.0.0

    Examples
    --------
    >>> df.createOrReplaceTempView("people")
    >>> df2 = df.filter(df.age > 3)
    >>> df2.createOrReplaceTempView("people")
    >>> df3 = spark.sql("select * from people")
    >>> sorted(df3.collect()) == sorted(df2.collect())
    True
    >>> spark.catalog.dropTempView("people")

In [5]:
df.createOrReplaceTempView('Test')

spark.sql('select * from Test').show()

+---+---------+------+
| ID|     NAME|SALARY|
+---+---------+------+
|  1| Srikanth| 20000|
|  2|Akshainie| 30000|
|  3|  Manvith| 40000|
+---+---------+------+

In [13]:
df2 = spark.sql("select ID,upper(NAME) as Name  from Test")

df2.show()

+---+---------+
| ID|     Name|
+---+---------+
|  1| SRIKANTH|
|  2|AKSHAINIE|
|  3|  MANVITH|
+---+---------+

In [15]:
df.createOrReplaceGlobalTempView('globaltemp')

spark.sql('select * from global_temp.globaltemp').show()

+---+---------+------+
| ID|     NAME|SALARY|
+---+---------+------+
|  1| Srikanth| 20000|
|  2|Akshainie| 30000|
|  3|  Manvith| 40000|
+---+---------+------+

In [16]:
spark.catalog.currentDatabase()

'default'

In [17]:
spark.catalog.listTables('default')

[Table(name='test', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [ ]:
spark.catalog.dropGlobalTempView('test')

spark.catalog.dropTempView('test')