In [2]:
import findspark

findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [3]:
data = [(1,'Maheer',2000),(2,'wafa',3000)]

schema = ['id','name','salary']

df = spark.createDataFrame(data,schema)

df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Maheer|  2000|
|  2|  wafa|  3000|
+---+------+------+

In [4]:
from pyspark.sql.functions import upper
df.withColumn('name',upper(df.name)).show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|MAHEER|  2000|
|  2|  WAFA|  3000|
+---+------+------+

In [5]:
def converNameToUpper(df):
    return df.withColumn('name',upper(df.name))

In [6]:
df1 =  df.transform(converNameToUpper)
df1.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|MAHEER|  2000|
|  2|  WAFA|  3000|
+---+------+------+