In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [8]:
data = [(1,'srik','male',2000),(2,'manu','male',3000),(2,'manu','male',3000),(3,'akshainie','female',3500)]                                         
schema = ['id','name','gender','salary']

In [9]:
df = spark.createDataFrame(data,schema)
df.show()

+---+---------+------+------+
| id|     name|gender|salary|
+---+---------+------+------+
|  1|     srik|  male|  2000|
|  2|     manu|  male|  3000|
|  2|     manu|  male|  3000|
|  3|akshainie|female|  3500|
+---+---------+------+------+

In [10]:
help(df.distinct)

Help on method distinct in module pyspark.sql.dataframe:

distinct() method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` containing the distinct rows in this :class:`DataFrame`.

    .. versionadded:: 1.3.0

    Examples
    --------
    >>> df.distinct().count()
    2

In [11]:
df.distinct().show()

+---+---------+------+------+
| id|     name|gender|salary|
+---+---------+------+------+
|  1|     srik|  male|  2000|
|  2|     manu|  male|  3000|
|  3|akshainie|female|  3500|
+---+---------+------+------+

In [12]:
df.dropDuplicates().show()

+---+---------+------+------+
| id|     name|gender|salary|
+---+---------+------+------+
|  1|     srik|  male|  2000|
|  2|     manu|  male|  3000|
|  3|akshainie|female|  3500|
+---+---------+------+------+

In [13]:
help(df.dropDuplicates)

Help on method dropDuplicates in module pyspark.sql.dataframe:

dropDuplicates(subset=None) method of pyspark.sql.dataframe.DataFrame instance
    Return a new :class:`DataFrame` with duplicate rows removed,
    optionally only considering certain columns.

    For a static batch :class:`DataFrame`, it just drops duplicate rows. For a streaming
    :class:`DataFrame`, it will keep all data across triggers as intermediate state to drop
    duplicates rows. You can use :func:`withWatermark` to limit how late the duplicate data can
    be and system will accordingly limit the state. In addition, too late data older than
    watermark will be dropped to avoid any possibility of duplicates.

    :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.

    .. versionadded:: 1.4.0

    Examples
    --------
    >>> from pyspark.sql import Row
    >>> df = sc.parallelize([ \
    ...     Row(name='Alice', age=5, height=80), \
    ...     Row(name='Alice', age=5, height=80), \
    ...     Row(name='Alice', age=10, height=80)]).toDF()
    >>> df.dropDuplicates().show()
    +-----+---+------+
    | name|age|height|
    +-----+---+------+
    |Alice|  5|    80|
    |Alice| 10|    80|
    +-----+---+------+

    >>> df.dropDuplicates(['name', 'height']).show()
    +-----+---+------+
    | name|age|height|
    +-----+---+------+
    |Alice|  5|    80|
    +-----+---+------+

In [14]:
df.dropDuplicates(['gender']).show()

+---+---------+------+------+
| id|     name|gender|salary|
+---+---------+------+------+
|  3|akshainie|female|  3500|
|  1|     srik|  male|  2000|
+---+---------+------+------+

In [16]:
data = [(1,'srik','male',2000,'IT'),(2,'manu','male',3000,'HR'),(2,'manu','male',3000,'Marketing'),(3,'akshainie','female',3500,'Finance')]                                         
schema = ['id','name','gender','salary','Dept']

df1 = spark.createDataFrame(data,schema)

df1.printSchema()

df1.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- Dept: string (nullable = true)

+---+---------+------+------+---------+
| id|     name|gender|salary|     Dept|
+---+---------+------+------+---------+
|  1|     srik|  male|  2000|       IT|
|  2|     manu|  male|  3000|       HR|
|  2|     manu|  male|  3000|Marketing|
|  3|akshainie|female|  3500|  Finance|
+---+---------+------+------+---------+

In [18]:
help(df1.sort)

Help on method sort in module pyspark.sql.dataframe:

sort(*cols, **kwargs) method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` sorted by the specified column(s).

    .. versionadded:: 1.3.0

    Parameters
    ----------
    cols : str, list, or :class:`Column`, optional
         list of :class:`Column` or column names to sort by.

    Other Parameters
    ----------------
    ascending : bool or list, optional
        boolean or list of boolean (default ``True``).
        Sort ascending vs. descending. Specify list for multiple sort orders.
        If a list is specified, length of the list must equal length of the `cols`.

    Examples
    --------
    >>> df.sort(df.age.desc()).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.sort("age", ascending=False).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.orderBy(df.age.desc()).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> from pyspark.sql.functions import *
    >>> df.sort(asc("age")).collect()
    [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
    >>> df.orderBy(desc("age"), "name").collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.orderBy(["age", "name"], ascending=[0, 1]).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]

In [22]:
df1.sort(df1.Dept.desc()).show()

+---+---------+------+------+---------+
| id|     name|gender|salary|     Dept|
+---+---------+------+------+---------+
|  2|     manu|  male|  3000|Marketing|
|  1|     srik|  male|  2000|       IT|
|  2|     manu|  male|  3000|       HR|
|  3|akshainie|female|  3500|  Finance|
+---+---------+------+------+---------+

In [23]:
df1.sort(df1.Dept).show()

+---+---------+------+------+---------+
| id|     name|gender|salary|     Dept|
+---+---------+------+------+---------+
|  3|akshainie|female|  3500|  Finance|
|  2|     manu|  male|  3000|       HR|
|  1|     srik|  male|  2000|       IT|
|  2|     manu|  male|  3000|Marketing|
+---+---------+------+------+---------+

In [24]:
df1.sort(df1.Dept,df1.id).show()

+---+---------+------+------+---------+
| id|     name|gender|salary|     Dept|
+---+---------+------+------+---------+
|  3|akshainie|female|  3500|  Finance|
|  2|     manu|  male|  3000|       HR|
|  1|     srik|  male|  2000|       IT|
|  2|     manu|  male|  3000|Marketing|
+---+---------+------+------+---------+

In [25]:
df1.sort(df1.Dept.desc(),df1.id.asc()).show()

+---+---------+------+------+---------+
| id|     name|gender|salary|     Dept|
+---+---------+------+------+---------+
|  2|     manu|  male|  3000|Marketing|
|  1|     srik|  male|  2000|       IT|
|  2|     manu|  male|  3000|       HR|
|  3|akshainie|female|  3500|  Finance|
+---+---------+------+------+---------+

In [26]:
df1.orderBy(df1.Dept.asc()).show()

+---+---------+------+------+---------+
| id|     name|gender|salary|     Dept|
+---+---------+------+------+---------+
|  3|akshainie|female|  3500|  Finance|
|  2|     manu|  male|  3000|       HR|
|  1|     srik|  male|  2000|       IT|
|  2|     manu|  male|  3000|Marketing|
+---+---------+------+------+---------+

In [27]:
df1.orderBy(df1.Dept.desc(),df1.id.asc()).show()

+---+---------+------+------+---------+
| id|     name|gender|salary|     Dept|
+---+---------+------+------+---------+
|  2|     manu|  male|  3000|Marketing|
|  1|     srik|  male|  2000|       IT|
|  2|     manu|  male|  3000|       HR|
|  3|akshainie|female|  3500|  Finance|
+---+---------+------+------+---------+