In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [2]:
data = [(1,'Srikanth','male',2000),(2,'Santhu','male',3000),(3,'Sandhya','Female',4000)]

schema = ['ID','Name','Gender','Salary']

df = spark.createDataFrame(data,schema)

df.printSchema()

df.show()

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: long (nullable = true)

+---+--------+------+------+
| ID|    Name|Gender|Salary|
+---+--------+------+------+
|  1|Srikanth|  male|  2000|
|  2|  Santhu|  male|  3000|
|  3| Sandhya|Female|  4000|
+---+--------+------+------+

In [3]:
help(df.filter)

Help on method filter in module pyspark.sql.dataframe:

filter(condition) method of pyspark.sql.dataframe.DataFrame instance
    Filters rows using the given condition.

    :func:`where` is an alias for :func:`filter`.

    .. versionadded:: 1.3.0

    Parameters
    ----------
    condition : :class:`Column` or str
        a :class:`Column` of :class:`types.BooleanType`
        or a string of SQL expression.

    Examples
    --------
    >>> df.filter(df.age > 3).collect()
    [Row(age=5, name='Bob')]
    >>> df.where(df.age == 2).collect()
    [Row(age=2, name='Alice')]

    >>> df.filter("age > 3").collect()
    [Row(age=5, name='Bob')]
    >>> df.where("age = 2").collect()
    [Row(age=2, name='Alice')]

In [4]:
df.filter(df.Gender == 'male').show()

+---+--------+------+------+
| ID|    Name|Gender|Salary|
+---+--------+------+------+
|  1|Srikanth|  male|  2000|
|  2|  Santhu|  male|  3000|
+---+--------+------+------+

In [5]:
df.filter("Gender == 'male'").show()

+---+--------+------+------+
| ID|    Name|Gender|Salary|
+---+--------+------+------+
|  1|Srikanth|  male|  2000|
|  2|  Santhu|  male|  3000|
+---+--------+------+------+

In [7]:
df.where("Gender == 'Female'").show()

+---+-------+------+------+
| ID|   Name|Gender|Salary|
+---+-------+------+------+
|  3|Sandhya|Female|  4000|
+---+-------+------+------+

In [8]:
df.where((df.Gender == 'male') & (df.Salary == 2000)).show()

+---+--------+------+------+
| ID|    Name|Gender|Salary|
+---+--------+------+------+
|  1|Srikanth|  male|  2000|
+---+--------+------+------+