In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [6]:
data = [(1,'srik','male',2000,2),\
        (2,'manu','male',3000,1),\
       (3,'Akshainie','Female',3000,4)] 

schema = ['id','name','gender','salary','Dept']

df = spark.createDataFrame(data,schema)

df.show()

data1 = [(1,'IT'),\
        (2,'HR'),\
        (3,'Payroll')]

schema1 = ['id','Name']

df1 = spark.createDataFrame(data1,schema1)

df1.show()

+---+---------+------+------+----+
| id|     name|gender|salary|Dept|
+---+---------+------+------+----+
|  1|     srik|  male|  2000|   2|
|  2|     manu|  male|  3000|   1|
|  3|Akshainie|Female|  3000|   4|
+---+---------+------+------+----+

+---+-------+
| id|   Name|
+---+-------+
|  1|     IT|
|  2|     HR|
|  3|Payroll|
+---+-------+

In [7]:
help(df.join)

Help on method join in module pyspark.sql.dataframe:

join(other, on=None, how=None) method of pyspark.sql.dataframe.DataFrame instance
    Joins with another :class:`DataFrame`, using the given join expression.

    .. versionadded:: 1.3.0

    Parameters
    ----------
    other : :class:`DataFrame`
        Right side of the join
    on : str, list or :class:`Column`, optional
        a string for the join column name, a list of column names,
        a join expression (Column), or a list of Columns.
        If `on` is a string or a list of strings indicating the name of the join column(s),
        the column(s) must exist on both sides, and this performs an equi-join.
    how : str, optional
        default ``inner``. Must be one of: ``inner``, ``cross``, ``outer``,
        ``full``, ``fullouter``, ``full_outer``, ``left``, ``leftouter``, ``left_outer``,
        ``right``, ``rightouter``, ``right_outer``, ``semi``, ``leftsemi``, ``left_semi``,
        ``anti``, ``leftanti`` and ``left_anti``.

    Examples
    --------
    The following performs a full outer join between ``df1`` and ``df2``.

    >>> from pyspark.sql.functions import desc
    >>> df.join(df2, df.name == df2.name, 'outer').select(df.name, df2.height)                 .sort(desc("name")).collect()
    [Row(name='Bob', height=85), Row(name='Alice', height=None), Row(name=None, height=80)]

    >>> df.join(df2, 'name', 'outer').select('name', 'height').sort(desc("name")).collect()
    [Row(name='Tom', height=80), Row(name='Bob', height=85), Row(name='Alice', height=None)]

    >>> cond = [df.name == df3.name, df.age == df3.age]
    >>> df.join(df3, cond, 'outer').select(df.name, df3.age).collect()
    [Row(name='Alice', age=2), Row(name='Bob', age=5)]

    >>> df.join(df2, 'name').select(df.name, df2.height).collect()
    [Row(name='Bob', height=85)]

    >>> df.join(df4, ['name', 'age']).select(df.name, df.age).collect()
    [Row(name='Bob', age=5)]

In [13]:
df.join(df1,df.Dept==df1.id,'inner').show()

+---+----+------+------+----+---+----+
| id|name|gender|salary|Dept| id|Name|
+---+----+------+------+----+---+----+
|  2|manu|  male|  3000|   1|  1|  IT|
|  1|srik|  male|  2000|   2|  2|  HR|
+---+----+------+------+----+---+----+

In [14]:
df.join(df1,df.Dept==df1.id, 'left').show()

+---+---------+------+------+----+----+----+
| id|     name|gender|salary|Dept|  id|Name|
+---+---------+------+------+----+----+----+
|  2|     manu|  male|  3000|   1|   1|  IT|
|  1|     srik|  male|  2000|   2|   2|  HR|
|  3|Akshainie|Female|  3000|   4|null|null|
+---+---------+------+------+----+----+----+

In [15]:
df.join(df1,df.Dept==df1.id, 'right').show()

+----+----+------+------+----+---+-------+
|  id|name|gender|salary|Dept| id|   Name|
+----+----+------+------+----+---+-------+
|   2|manu|  male|  3000|   1|  1|     IT|
|   1|srik|  male|  2000|   2|  2|     HR|
|null|null|  null|  null|null|  3|Payroll|
+----+----+------+------+----+---+-------+

In [11]:
df.join(df1,df.id==df1.id, 'full').show()

+---+---------+------+------+----+---+-------+
| id|     name|gender|salary|Dept| id|   Name|
+---+---------+------+------+----+---+-------+
|  1|     srik|  male|  2000|   2|  1|     IT|
|  2|     manu|  male|  3000|   1|  2|     HR|
|  3|Akshainie|Female|  3000|   4|  3|Payroll|
+---+---------+------+------+----+---+-------+

In [17]:
df.join(df1,df.Dept==df1.id,'inner').show()

+---+----+------+------+----+---+----+
| id|name|gender|salary|Dept| id|Name|
+---+----+------+------+----+---+----+
|  2|manu|  male|  3000|   1|  1|  IT|
|  1|srik|  male|  2000|   2|  2|  HR|
+---+----+------+------+----+---+----+

In [16]:
df.join(df1,df.Dept==df1.id, 'leftsemi').show()

+---+----+------+------+----+
| id|name|gender|salary|Dept|
+---+----+------+------+----+
|  2|manu|  male|  3000|   1|
|  1|srik|  male|  2000|   2|
+---+----+------+------+----+

In [18]:
df.join(df1,df.Dept==df1.id, 'leftanti').show()

+---+---------+------+------+----+
| id|     name|gender|salary|Dept|
+---+---------+------+------+----+
|  3|Akshainie|Female|  3000|   4|
+---+---------+------+------+----+

In [19]:
data1 = [(1,'srikanth',0),(2,'manu',1),(3,'Akshainie',2)]
schema1= ['id','name','managerid']

df = spark.createDataFrame(data1,schema1)

df.show()

+---+---------+---------+
| id|     name|managerid|
+---+---------+---------+
|  1| srikanth|        0|
|  2|     manu|        1|
|  3|Akshainie|        2|
+---+---------+---------+

In [27]:
from pyspark.sql.functions import col

df.alias('emp').join(df.alias('mgr'),\
                col('emp.managerid')==col('mgr.id') \
                     ,'inner').show()

+---+---------+---------+---+--------+---------+
| id|     name|managerid| id|    name|managerid|
+---+---------+---------+---+--------+---------+
|  2|     manu|        1|  1|srikanth|        0|
|  3|Akshainie|        2|  2|    manu|        1|
+---+---------+---------+---+--------+---------+

In [29]:

df.alias('emp').join(df.alias('mgr'),\
                col('emp.managerid')==col('mgr.id') \
                     ,'inner') \
              .select(col('emp.name').alias('emp_name'),\
                col('mgr.name').alias('manager')).show()

+---------+--------+
| emp_name| manager|
+---------+--------+
|     manu|srikanth|
|Akshainie|    manu|
+---------+--------+