In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [5]:
data = [(1,'maheer','male','IT'),\
        (2,'srikanth','male','IT'),\
       (3,'asi','female','HR'),\
       (4,'Annu','female','IT'),\
       (5,'Shakir','female','IT'),\
       (6,'pradeep','male','HR'),\
       (7,'sarfaraj','male','HR'),\
       (8,'ayesha','female','IT')]

schema = ['id','name','gender','dep']

df = spark.createDataFrame(data,schema)

df.show()

+---+--------+------+---+
| id|    name|gender|dep|
+---+--------+------+---+
|  1|  maheer|  male| IT|
|  2|srikanth|  male| IT|
|  3|     asi|female| HR|
|  4|    Annu|female| IT|
|  5|  Shakir|female| IT|
|  6| pradeep|  male| HR|
|  7|sarfaraj|  male| HR|
|  8|  ayesha|female| IT|
+---+--------+------+---+

In [6]:
df.groupBy('dep','gender').count().show()

+---+------+-----+
|dep|gender|count|
+---+------+-----+
| IT|  male|    2|
| HR|female|    1|
| IT|female|    3|
| HR|  male|    2|
+---+------+-----+

In [7]:
df.groupBy('dep').pivot('gender').count().show()

+---+------+----+
|dep|female|male|
+---+------+----+
| HR|     1|   2|
| IT|     3|   2|
+---+------+----+

In [8]:
df.groupBy('dep').pivot('gender',['male']).count().show()

+---+----+
|dep|male|
+---+----+
| HR|   2|
| IT|   2|
+---+----+

In [9]:
#unpivot
data = [('IT',8,5),\
         ('Payroll',3,2),\
          ('HR',2,4)]

schema = ['dep','male','female']

df = spark.createDataFrame(data,schema)

df.show()

+-------+----+------+
|    dep|male|female|
+-------+----+------+
|     IT|   8|     5|
|Payroll|   3|     2|
|     HR|   2|     4|
+-------+----+------+

In [10]:
from pyspark.sql.functions import expr

In [11]:
unpivotdf = df.select('dep',expr("stack(2,'MALE',male,'FEMALE',female) as (gender,count)"))

unpivotdf.show()

+-------+------+-----+
|    dep|gender|count|
+-------+------+-----+
|     IT|  MALE|    8|
|     IT|FEMALE|    5|
|Payroll|  MALE|    3|
|Payroll|FEMALE|    2|
|     HR|  MALE|    2|
|     HR|FEMALE|    4|
+-------+------+-----+