In [1]:
import findspark

findspark.init()


from pyspark.sql import SparkSession

spark =  SparkSession.builder.getOrCreate()

In [2]:
data = [(1,'Srikanth'),(2,'Manvith')]

schema = ['ID','NAME']


df = spark.createDataFrame(data=data,schema=schema)

df.show()

+---+--------+
| ID|    NAME|
+---+--------+
|  1|Srikanth|
|  2| Manvith|
+---+--------+

In [4]:
from pyspark.sql.functions import upper

df.withColumn('Upper',upper(df.NAME)).show(truncate=False)

+---+--------+--------+
|ID |NAME    |Upper   |
+---+--------+--------+
|1  |Srikanth|SRIKANTH|
|2  |Manvith |MANVITH |
+---+--------+--------+

In [6]:
df.select('ID',"NAME",upper('NAME').alias('UPPER')).show(truncate = False)

+---+--------+--------+
|ID |NAME    |UPPER   |
+---+--------+--------+
|1  |Srikanth|SRIKANTH|
|2  |Manvith |MANVITH |
+---+--------+--------+

In [9]:
df.createOrReplaceTempView('test_table')

spark.sql('select ID,NAME,UPPER(NAME) as Uppercase from test_table').show()

+---+--------+---------+
| ID|    NAME|Uppercase|
+---+--------+---------+
|  1|Srikanth| SRIKANTH|
|  2| Manvith|  MANVITH|
+---+--------+---------+

In [12]:
def uppercase(df):
    return df.withColumn('name',upper(df.NAME))

df.transform(uppercase).show()

+---+--------+
| ID|    name|
+---+--------+
|  1|SRIKANTH|
|  2| MANVITH|
+---+--------+