In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

from pyspark.sql.types import StructType, StructField,IntegerType,StringType

In [3]:
spark = SparkSession.builder.getOrCreate()

In [11]:
data = [(1,'Srikanth',3000),(2,'Manvith',2000),(3,'Akshainie',1000)]

df = spark.createDataFrame(data)

df.show()

df.printSchema()

+---+---------+----+
| _1|       _2|  _3|
+---+---------+----+
|  1| Srikanth|3000|
|  2|  Manvith|2000|
|  3|Akshainie|1000|
+---+---------+----+

root
 |-- _1: long (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: long (nullable = true)

In [13]:
schema =[ 'ID','Name','Salary']

df2 = spark.createDataFrame(data, schema)

df2.show()

df2.printSchema()

+---+---------+------+
| ID|     Name|Salary|
+---+---------+------+
|  1| Srikanth|  3000|
|  2|  Manvith|  2000|
|  3|Akshainie|  1000|
+---+---------+------+

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Salary: long (nullable = true)

In [18]:
cust_schema = StructType([StructField(name='ID',dataType=IntegerType()),\
                          StructField(name='Name',dataType=StringType()),\
                          StructField(name='Salary',dataType=IntegerType())])

df3 = spark.createDataFrame(data,cust_schema)

df3.show()

df3.printSchema()

+---+---------+------+
| ID|     Name|Salary|
+---+---------+------+
|  1| Srikanth|  3000|
|  2|  Manvith|  2000|
|  3|Akshainie|  1000|
+---+---------+------+

root
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [19]:
complex_data = [(1,('Srikanth','Parsha'),3000),(2,('Manvith','Parsha'),2000)]

structName = StructType([StructField('Fname',StringType()),\
                         StructField('Lname',StringType())])

complex_schema = StructType([StructField(name='ID',dataType=IntegerType()),\
                          StructField(name='Name',dataType=structName),\
                          StructField(name='Salary',dataType=IntegerType())])

df4 = spark.createDataFrame(complex_data,complex_schema)

df4.printSchema()

df4.show()

root
 |-- ID: integer (nullable = true)
 |-- Name: struct (nullable = true)
 |    |-- Fname: string (nullable = true)
 |    |-- Lname: string (nullable = true)
 |-- Salary: integer (nullable = true)

+---+------------------+------+
| ID|              Name|Salary|
+---+------------------+------+
|  1|{Srikanth, Parsha}|  3000|
|  2| {Manvith, Parsha}|  2000|
+---+------------------+------+

In [20]:
display(df4)

DataFrame[ID: int, Name: struct<Fname:string,Lname:string>, Salary: int]