In [1]:
import findspark

findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [2]:
data = [(1,'Maheer',2000,1000),(2,'wafa',3000,1500)]

schema = ['id','name','salary','bonus']

df = spark.createDataFrame(data,schema)

df.show()

+---+------+------+-----+
| id|  name|salary|bonus|
+---+------+------+-----+
|  1|Maheer|  2000| 1000|
|  2|  wafa|  3000| 1500|
+---+------+------+-----+

In [3]:
def totalpay(s,b):
    return s+b

In [8]:
from pyspark.sql.functions import udf,col

from pyspark.sql.types import IntegerType

# help(udf)

In [9]:
totalpayment =  udf(lambda s, b : totalpay(s,b),IntegerType())

In [10]:
df.withColumn('TotalPay',totalpayment(df.salary,df.bonus)).show()

+---+------+------+-----+--------+
| id|  name|salary|bonus|TotalPay|
+---+------+------+-----+--------+
|  1|Maheer|  2000| 1000|    3000|
|  2|  wafa|  3000| 1500|    4500|
+---+------+------+-----+--------+

In [11]:
@udf(returnType=IntegerType())

def totalpay(s,b):
    return s+b

In [13]:
df.select('*',totalpay(df.salary,df.bonus).alias('TotalPay')).show()

+---+------+------+-----+--------+
| id|  name|salary|bonus|TotalPay|
+---+------+------+-----+--------+
|  1|Maheer|  2000| 1000|    3000|
|  2|  wafa|  3000| 1500|    4500|
+---+------+------+-----+--------+

In [14]:
df.createOrReplaceTempView('emp')

In [15]:
spark.sql('select * from emp').show()

+---+------+------+-----+
| id|  name|salary|bonus|
+---+------+------+-----+
|  1|Maheer|  2000| 1000|
|  2|  wafa|  3000| 1500|
+---+------+------+-----+

In [19]:
spark.udf.register(name='TotalPaySQL',f=totalpay)

In [20]:
spark.sql('select id,name,TotalPaySQL(salary,bonus) from emp').show()

+---+------+--------------------------+
| id|  name|TotalPaySQL(salary, bonus)|
+---+------+--------------------------+
|  1|Maheer|                      3000|
|  2|  wafa|                      4500|
+---+------+--------------------------+