In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [6]:
data = [(1,'srik','male',2000,'IT'),\
        (2,'manu','male',3000,'Marketing'),\
       (2,'manu','male',3000,'Marketing')] 

schema = ['id','name','gender','salary','Dept']

data1 = [(3,'akshainie','female',3500,'Finance'),\
        (4,'Sandhya','Female',4000,'Marketing')]

schema1 = ['id','name','gender','salary','Dept']

df = spark.createDataFrame(data,schema)
df1 = spark.createDataFrame(data1,schema1)

df.show()
df1.show()

+---+----+------+------+---------+
| id|name|gender|salary|     Dept|
+---+----+------+------+---------+
|  1|srik|  male|  2000|       IT|
|  2|manu|  male|  3000|Marketing|
|  2|manu|  male|  3000|Marketing|
+---+----+------+------+---------+

+---+---------+------+------+---------+
| id|     name|gender|salary|     Dept|
+---+---------+------+------+---------+
|  3|akshainie|female|  3500|  Finance|
|  4|  Sandhya|Female|  4000|Marketing|
+---+---------+------+------+---------+

In [7]:
newdf = df.union(df1)
newdf.show()

+---+---------+------+------+---------+
| id|     name|gender|salary|     Dept|
+---+---------+------+------+---------+
|  1|     srik|  male|  2000|       IT|
|  2|     manu|  male|  3000|Marketing|
|  2|     manu|  male|  3000|Marketing|
|  3|akshainie|female|  3500|  Finance|
|  4|  Sandhya|Female|  4000|Marketing|
+---+---------+------+------+---------+

In [8]:
newdf1 =  df.unionAll(df1)
newdf1.show()

+---+---------+------+------+---------+
| id|     name|gender|salary|     Dept|
+---+---------+------+------+---------+
|  1|     srik|  male|  2000|       IT|
|  2|     manu|  male|  3000|Marketing|
|  2|     manu|  male|  3000|Marketing|
|  3|akshainie|female|  3500|  Finance|
|  4|  Sandhya|Female|  4000|Marketing|
+---+---------+------+------+---------+

In [9]:
df.distinct().show()

+---+----+------+------+---------+
| id|name|gender|salary|     Dept|
+---+----+------+------+---------+
|  1|srik|  male|  2000|       IT|
|  2|manu|  male|  3000|Marketing|
+---+----+------+------+---------+