In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [2]:
data = [('Srikanth','M',2000),('Manu','M',3000)]

schema = ['Name','Gender','Salary']

df = spark.createDataFrame(data=data,schema=schema)

df.printSchema()

df.show(truncate=False)

root
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: long (nullable = true)

+--------+------+------+
|Name    |Gender|Salary|
+--------+------+------+
|Srikanth|M     |2000  |
|Manu    |M     |3000  |
+--------+------+------+

In [10]:
from pyspark.sql.functions import when
help(when)

Help on function when in module pyspark.sql.functions:

when(condition, value)
    Evaluates a list of conditions and returns one of multiple possible result expressions.
    If :func:`pyspark.sql.Column.otherwise` is not invoked, None is returned for unmatched
    conditions.

    .. versionadded:: 1.4.0

    Parameters
    ----------
    condition : :class:`~pyspark.sql.Column`
        a boolean :class:`~pyspark.sql.Column` expression.
    value :
        a literal value, or a :class:`~pyspark.sql.Column` expression.

    Examples
    --------
    >>> df.select(when(df['age'] == 2, 3).otherwise(4).alias("age")).collect()
    [Row(age=3), Row(age=4)]

    >>> df.select(when(df.age == 2, df.age + 1).alias("age")).collect()
    [Row(age=3), Row(age=None)]

In [12]:

df1 = df.select(df.Name,\
                 when(df.Gender =='M','Male') \
                 .when(df.Gender == 'F','Female')\
                 .otherwise('Unknown').alias('Gender'))

df1.show()

+--------+------+
|    Name|Gender|
+--------+------+
|Srikanth|  Male|
|    Manu|  Male|
+--------+------+

In [13]:
df.select('Name','Gender','Salary').show()

+--------+------+------+
|    Name|Gender|Salary|
+--------+------+------+
|Srikanth|     M|  2000|
|    Manu|     M|  3000|
+--------+------+------+

In [14]:
df.select(df.Name.alias('Emp_Name'),df.Gender.alias('Emp_Gender'),df.Salary.alias('Emp_Salary')).show()

+--------+----------+----------+
|Emp_Name|Emp_Gender|Emp_Salary|
+--------+----------+----------+
|Srikanth|         M|      2000|
|    Manu|         M|      3000|
+--------+----------+----------+

In [15]:
df.sort(df.Name.asc()).show()

+--------+------+------+
|    Name|Gender|Salary|
+--------+------+------+
|    Manu|     M|  3000|
|Srikanth|     M|  2000|
+--------+------+------+

In [16]:
df.sort(df.Name.desc()).show()

+--------+------+------+
|    Name|Gender|Salary|
+--------+------+------+
|Srikanth|     M|  2000|
|    Manu|     M|  3000|
+--------+------+------+

In [17]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: long (nullable = true)

In [23]:
df1 = df.select('Name','Gender',df.Salary.cast('int'))
df1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [28]:
df.filter(df.Name.like('M%')).show()

+----+------+------+
|Name|Gender|Salary|
+----+------+------+
|Manu|     M|  3000|
+----+------+------+